# Игнорирование директории .idea, используемой IDE PyCharm и другими IDE от JetBrains
.idea/

# Игнорирование скомпилированных файлов Python
__pycache__/
.pyc

# Исключение папок sounds и sprites из игнорирования
!sounds/
!sprites/
!img/
!unused_sprites/