# Игнорирование окружений Python
myenv/
*.pyc
__pycache__/

# Игнорирование временных файлов IDE
.idea/

# Игнорирование файлов конфигурации ОС
.DS_Store
Thumbs.db

# Игнорирование выходных данных сборки и файлов журналов
*.log
*.out
*.class

# Игнорирование скомпилированных библиотек
*.so
*.dylib
*.dll

# Игнорирование временных файлов редактора
*~
*.swp

# Игнорирование библиотек и зависимостей
venv/
env/
node_modules/

# Игнорирование статических файлов, если они генерируются
*.tar.gz
*.zip

# Игнорирование личных данных и секретов
*.pem
*.key
*.crt
*.env

# Игнорирование исходных данных и больших файлов
*.csv
*.sqlite3
*.hdf5

# Игнорирование медиа-файлов, за исключением папки sprites
!sprites/
!sprites/**
!img/
!img/**
!unused_sprites/
!unused_sprites/**
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.mov
*.avi

# Игнорирование звуковых файлов, если они не являются частью репозитория
!sounds/
!sounds/**
*.wav
*.mp3
*.ogg

# Игнорирование шрифтов, если они не являются частью репозитория
!default_font.ttf
*.ttf
*.otf
